{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">

	<div class="row mt-5">
		<div class="col-md-5 col-sm-6">
			<a href="{% url 'post-list'%}" class="btn btn-light">Liste Publication</a>
		</div>
	</div>
	<div class="row justify-content-center mt-3 mb-5">
		<div class="col-md-5 col-sm-12">
			<form method="POST">
				{% csrf_token %}
				<h5>Vous-êtes sur?</h5>
				<p>Vous allez supprimer cette commentaire, et ce irreverrsible</p>
				<div class="d-grid gap-2">
					<button class="btn btn-danger mt-3">Supprimer</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}