{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">

	<div class="row mt-5">
		<div class="col-md-5 col-sm-6">
			<a href="{% url 'post-detail' object.pk %}" class="btn btn-light">Revenir</a>
		</div>
	</div>

	<div class="row justify-content-center mt-3">
		<div class="col-md-5 col-sm-12 border-bottom">
			<h5>Modification publication</h5>
		</div>
	</div>
	<div class="row justify-content-center mt-3 mb-5">
		<div class="col-md-5 col-sm-12">
			<form method="POST">
				{% csrf_token %}
				{{form | crispy}}
				<div class="d-grid gap-2">
					<button class="btn btn-info mt-3">Confirmer</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}
