{% extends "base_accueil.html" %}

{% block content %}

<footer id="footer">
    <div id="bottom-site">
    <div class="pieddep">
    <p>&nbsp;</p>
    
    <table style="margin-left: auto; margin-right: auto; width: 100%;" cellspacing="10" cellpadding="5" align="center">
      <tbody>
        <tr>
          <td style="width: 25%; text-align: left; vertical-align: top;">
          <p><span style="font-family:lucida sans unicode,lucida grande,sans-serif;"><span style="font-size:16px;"><a href="http://www.esmia-mada.com/pages/futurs-etudiants/liste-des-formations/" title="Présentation des formations">Présentation des formations</a></span></span></p>
    
          <p><a href="http://www.esmia-mada.com/pages/futurs-etudiants/"><span style="font-family:lucida sans unicode,lucida grande,sans-serif;"><span style="font-size:16px;">La formation&nbsp;à l'ESMIA</span></span></a></p>
    
          <p><span style="font-family:lucida sans unicode,lucida grande,sans-serif;"><span style="font-size:16px;"><a href="http://www.esmia-mada.com/pages/services-numeriques/bibliotheque-numerique.html" title="Bibliothèque">Bibliothèque</a></span></span></p>
    
          <p>&nbsp;</p>
          </td>
          <td style="width: 25%; text-align: left; vertical-align: top;">
          <p><a href="http://www.esmia-mada.com/album-photos/esmia-en-photos/"><span style="font-family:lucida sans unicode,lucida grande,sans-serif;"><span style="font-size:16px;">ESMIA&nbsp;en photos</span></span></a></p>
    
          <p><span style="font-size:16px;"><span style="font-family:lucida sans unicode,lucida grande,sans-serif;"><a href="http://www.esmia-mada.com/pages/vie-active/">Vie étudiante</a></span></span></p>
    
          <p><span style="font-size:16px;"><span style="font-family:lucida sans unicode,lucida grande,sans-serif;"><a href="http://www.esmia-mada.com/pages/partenaires/universite/c2i.html">C2i Université de Bordeaux III</a></span></span></p>
          </td>
          <td style="width: 30%; text-align: center; vertical-align: top;">
          <p style="text-align: center;"><span style="color:#FFFFFF;"><span style="font-family:lucida sans unicode,lucida grande,sans-serif;"><span style="font-size:16px;">ESMIA - Maison Jean XXIII - Mahamasina Sud</span><br>
          <br>
          <span style="font-size:16px;">Contact : 034&nbsp;20&nbsp;413 62</span><br>
          <br>
          <span style="font-size: 16px;">Arrêté d'habilitation n° 36.831/2013 - MESupReS</span></span></span></p>
    
          <p style="text-align: center;"><span style="font-size:16px;"><span style="font-family:lucida sans unicode,lucida grande,sans-serif;">Arrêté d'accréditation n°1587 / 2015 - MESupReS</span></span></p>
    
          <p style="text-align: center;"><a href="http://www.esmia-mada.com/medias/files/arrete-ministeriel.pdf" target="_blank"><img alt="" src="http://www.esmia-mada.com/medias/images/palmares-nu.png" style="height: 200px; width: 200px;"></a></p>
          </td>
          <td style="width: 50%; text-align: center; vertical-align: top;">
          <p style="text-align: center;"><span style="color:#0000FF;"><span style="font-size:14px;"><span style="font-family:lucida sans unicode,lucida grande,sans-serif;">Retrouvez-nous sur Facebook</span></span>&nbsp;</span></p>
    
          <p style="text-align: center;"><a href="https://www.facebook.com/ESMIA.ESMIA/" target="_blank" title="Facebook esmia"><img alt="Facebook esmia" class="img-center" src="http://www.esmia-mada.com/medias/images/facebook-esmia.png" style="width: 117px; height: 117px;"></a></p>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>
    </footer>
{% endblock %}