.btn-no-border-and-color{
	border:none;
	background-color: transparent;
	box-shadow: none;
}
.text-no-decoration{
	text-decoration:none;
}
.post-img{
	float: left;
	margin-right: 1rem;
}
.post-image{
	max-width:100%;
	height: auto;
	border-radius:10px;
	margin-bottom: 10px;
}
.child-comment{
	margin-left: 2rem;
}